<div class="col-md-4">
  <h2 class="text-center">Add Trip</h2>
  <form *ngIf="addForm" [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="add-code">Code:</label>
      <input type="text" id="add-code" formControlName="code" placeholder="Code" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['code'].errors }">
      <div *ngIf="submitted && f['code'].errors">Trip Code is required</div>
    </div>

    <div class="form-group">
      <label for="add-name">Name:</label>
      <input type="text" id="add-name" formControlName="name" placeholder="Name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">
      <div *ngIf="submitted && f['name'].errors">Name is required</div>
    </div>

    <div class="form-group">
      <label for="add-length">Length:</label>
      <input type="text" id="add-length" formControlName="length" placeholder="Length" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['length'].errors }">
      <div *ngIf="submitted && f['length'].errors">Length is required</div>
    </div>

    <div class="form-group">
      <label for="add-start">Start:</label>
      <input type="date" id="add-start" formControlName="start" placeholder="Start" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['start'].errors }">
      <div *ngIf="submitted && f['start'].errors">Date is required</div>
    </div>

    <div class="form-group">
      <label for="add-resort">Resort:</label>
      <input type="text" id="add-resort" formControlName="resort" placeholder="Resort" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['resort'].errors }">
      <div *ngIf="submitted && f['resort'].errors">Resort is required</div>
    </div>

    <div class="form-group">
      <label for="add-per-person">Per Person:</label>
      <input type="text" id="add-per-person" formControlName="perPerson" placeholder="Perperson" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['perPerson'].errors }">
      <div *ngIf="submitted && f['perPerson'].errors">Per Person is required</div>
    </div>

    <div class="form-group">
      <label for="add-image">Image Name:</label>
      <input type="text" id="add-image" formControlName="image" placeholder="Image" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['image'].errors }">
      <div *ngIf="submitted && f['image'].errors">Image Name is required</div>
    </div>

    <div class="form-group">
      <label for="add-description">Description:</label>
      <input type="text" id="add-description" formControlName="description" placeholder="Description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['description'].errors }">
      <div *ngIf="submitted && f['description'].errors">Description is required</div>
    </div>

    <button type="submit" class="btn btn-info mt-3">Save</button>
    <button type="button" class="btn btn-secondary mt-3 ms-2" (click)="cancel()">Cancel</button>
  </form>
</div>
